<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <div>
        <div>
            <p class="display-3 text-center">
                <%= more.firstname %>
            </p>
        </div>
        <div>
            <p class="display-3 text-center">
                <%= more.lastname %>
            </p>
        </div>

    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-light shadow shadow-md">
                <div>
                    <p class="display-3 text-center">
                        <%= readmore.firstname %>
                    </p>
                </div>
                <div>
                    <p class="display-3 text-center">
                        <%= readmore.lastname %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>